<div class="container">
  <h1>Dashboard</h1>
  <hr />
    <div class="body-section">
        <div class="parent">
            <div class="child" *ngFor="let item of cardArray">
                <div class="header">
                    <i class="{{ item.groupIcon }}"></i><span>{{ item.groupName }}</span>
                </div>
                <div class="card-wrapper">
                    <div class="card" *ngFor="let card of item.card" [ngStyle]="{ background: card.cardColor }" [routerLink]="card.route" >
                        <div class="icon" [ngStyle]="{ background: card.cardIconBGcolor }">
                            <i class="{{ card.cardIcon }}"></i>
                        </div>
                        <div class="content">
                            <div class="heading">{{ card.cardContentHeading }}</div>
                            <div class="sub-heading">{{ card.cardContentSubheading }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="table">
            <app-table [tableData]="tableData" [displayedColumns]="displayedColumns" [tableToDisplay]="'Dashboard'"></app-table>
        </section>
    </div>
</div>
