.container {
  .body-section {
    overflow-y: scroll;
    height: 80vh;
    padding-right: 10px;
    .parent {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      flex-wrap: wrap;
      .child {
        width: 48%;
        flex-grow: 1;
        height: min-content;
        min-width: 300px;
        border: 1px solid #ddd;
        border-radius: 5px;
        .header {
          padding: 15px;
          background-color: #f5f5f5;
          span {
            margin: 0 5px;
          }
        }
        .card-wrapper {
          padding: 10px;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 15px;
          .card {
            color: white;
            display: flex;
            flex-direction: row;
            flex: 1;
            width: 48%;
            min-width: 200px;
            height: 70px;
            cursor: pointer;
            transition: transform 200ms ease-in-out 100ms;
            .icon {
              border-radius: 5px;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 30%;
              flex-grow: 1;
              i {
                font-size: 40px;
              }
            }
            .content {
              border-radius: 5px;
              padding: 10px 15px;
              display: flex;
              justify-content: space-evenly;
              flex-direction: column;
              font-size: var(--fnt-large);
              width: 70%;
            }
            &:hover{
              transform: scale(1.05);
            }
          }
        }
      }
    }
    .table {
      padding: 10px;
      width: 100%;

    }
  }
}
