.container {
  height: 80vh;
  overflow-y: scroll;

  .table{
    border: 1px solid #f5f5f5;
    position: relative;
    .auto-complete{
      position: absolute;
      right: 0;
      top: 9.5px;
      ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
        padding: 4px;
      }
    }
  }
}
