.sidenav {
  background-color: #212529;
  color: #5b646b;
  height: 100vh;
  overflow: auto;
  .menu-options {
    border-radius: 5px;
    .menu-icon {
      i {
        font-size: 16px;
        vertical-align: middle;
        text-align: center;
      }
    }
  }
  .menu-options.active {
    background-color: #d5d1d1;
  }
  .menu-options:hover {
    background-color: #7c7979;
    color: black !important;

    // .menu-icon {
    //   i {
    //     width: 24px;
    //     text-align: center;
    //   }
    // }
  }
}
