.container {
  overflow-y: auto;
  height: 90vh;
  .form {
    padding: 2%;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    label {
      width: fit-content;
    }
    .action-btns {
      float: right;
    }
  }
}
