<div class="container">
    <h1>Change Password</h1>
    <hr />
    <section class="form">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

            <label for="Current Password *" class="form-label mt10">Current Password</label>
            <input type="password" id="Current Password *" formControlName="currentPassword" class="form-control mb10" aria-labelledby="passwordHelpBlock">


            <label for="New Password *" class="form-label mt10">New Password</label>
            <input type="password" id="New Password *" formControlName="newPassword" class="form-control mb10" aria-labelledby="passwordHelpBlock">


            <label for="Confirm New Password *" class="form-label mt10">Confirm New Password</label>
            <input type="password" id="Confirm New Password *" formControlName="confirmNewPassword" class="form-control mb10" aria-labelledby="passwordHelpBlock">

    
            <div class="action-btns mt30 mb30">
                <button class="mr10" mat-flat-button color="primary" type="submit"
                    [disabled]="myForm.invalid">Change Password</button>
            </div>
        </form>
    </section>

</div>

