.container {
  overflow-y: auto;
  height: 90vh;
  .form {
    padding: 2%;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    label {
      width: fit-content;
    }
    .details-container {
      display: flex;
      align-items: center;
      //   gap: 5%;
      .left {
        width: 50%;
        div {
          margin: 10px 0;
        }
      }
      .right {
        width: 50%;
        .profile {
          flex-grow: 1;
          margin: 0 auto;
          max-width: 230px;
          height: 200px;
          .drop-container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border: 2px dashed #ccc;
            padding: 20px;
            text-align: center;
            cursor: pointer;
            height: 100%;
          }

          .uploaded-image {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              height: 200px;
              max-width: 230px;
            }
            .overlay {
              display: none;
              position: absolute;
              top: 0;
              background-color: rgba($color: #000000, $alpha: 0.7);
              height: 100%;
              width: 100%;
              button {
                float: right;
                margin: 5px;
              }
            }
            &:hover {
              .overlay {
                display: block;
              }
            }
          }
        }
      }
    }
    .additional-details {
      display: flex;
      div {
        width: 50%;
      }
    }
    .action-btns {
      float: right;
    }
  }
}
