.container {
  padding: 5%;
  height: 85vh;
  width: 80vw;
  .form {
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    label {
      width: fit-content;
    }
    .action-btns {
      float: right;
    }
  }
}
