.container {

  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .actions {
      display: flex;
      gap: 10px;
      align-items: center;

      .auto-complete {
        ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
          padding: 4px;
        }
      }
    }
  }

  .wrapper {
    overflow-y: auto;
    height: 75vh;


    hr {
      margin: 0.5rem;
    }
  }
}