<div class="container">
    <h1>Statement </h1>
    <hr />
    <div class="body-section">
        <div class="parent">
            <div class="child">
                <div class="header">
                    <app-auto-complete class="auto-complete" [placeholder]="'Search...'"
                        [providedOption]="statementOptions[0].displayName" [options]="statementOptions"
                        (selectedOptions)="onSelectedOption($event)"
                        (inputValue)="onInputValue($event)"></app-auto-complete>
                </div>
                <div class="card-wrapper">
                    <div class="card" *ngFor="let card of cardArray" [ngStyle]="{ background: card.cardColor }">
                        <div class="icon" [ngStyle]="{ background: card.cardIconBGcolor }">
                            <i [ngStyle]="{ color: card.cardColor }" class="{{ card.cardIcon }}" ></i>
                        </div>
                        <div class="content">
                            <div class="heading">{{ card.cardContentHeading }}</div>
                            <div class="sub-heading">{{ card.cardContentSubheading }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="table">
            <app-table [tableData]="tableData" [displayedColumns]="displayedColumns"
                [tableToDisplay]="'Dashboard'"></app-table>
        </section>
    </div>
</div>