/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* You can add global styles to this file, and also import other style files */
:root {
  // FONT SIZE
  --fnt-xsmall: 10px;
  --fnt-small: 12px;
  --fnt-regular: 14px;
  --fnt-medium: 16px;
  --fnt-large: 18px;

  // FONT WEIGHT
  --fnt: 400;
  --fnt-semibold: 600;
  --fnt-bold: 700;

  // COLOR
  --fnt-secondary-color: #51515e;
  --fnt-tertiary-color: #f44336;
  --primary-color: #c9e5f3;
  --hover-color: #fafafa;
  --warn-color: #f44336;
  --success-color: #379237;
  --stroked-color: #3f51b5;
  --btn-secondary: #e1e1e1;
}

@font-face {
  font-family: "loadgo";
  src: url("./assets/fonts/loadgo.eot?kfjpyv");
  src: url("./assets/fonts/loadgo.eot?kfjpyv#iefix") format("embedded-opentype"),
    url("./assets/fonts/loadgo.ttf?kfjpyv") format("truetype"),
    url("./assets/fonts/loadgo.woff?kfjpyv") format("woff"),
    url("./assets/fonts/loadgo.svg?kfjpyv#loadgo") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "loadgo" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-money:before {
  content: "\e900";
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tooltip {
  font-size: var(--fnt-small);
}

// VERTICAL ALIGNMENT
.vTo {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

.vBottom {
  vertical-align: bottom !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.header-text {
  font-size: var(--fnt-large);
}

// FONT WEIGHT

.fnt-bold {
  font-weight: 700 !important;
}

.fnt-semibold {
  font-weight: 600 !important;
}

.fnt {
  font-weight: 400 !important;
}

// FONT SIZE

// IN PIXEL

.fnt10 {
  font-size: 10px !important;
}

.fnt12 {
  font-size: 12px !important;
}

.fnt14 {
  font-size: var(--fnt-regular) !important;
}

.fnt16 {
  font-size: 16px !important;
}

.fnt18 {
  font-size: 18px !important;
}

.fnt20 {
  font-size: 20px !important;
}

.fnt22 {
  font-size: 22px !important;
}

// IN EM

.fnt05em {
  font-size: 0.5em !important;
}

.fnt07em {
  font-size: 0.7em !important;
}

.fnt09em {
  font-size: 0.9em !important;
}

.fnt1em {
  font-size: 1em !important;
}

.fnt1-2em {
  font-size: 1.2em !important;
}

.fnt1-4em {
  font-size: 1.4em !important;
}

// WIDTH
// IN PIXEL

.w100 {
  width: 100px !important;
}

.w110 {
  width: 100px !important;
}

.w120 {
  width: 120px !important;
}

.w130 {
  width: 130px !important;
}

.w140 {
  width: 140px !important;
}

.w150 {
  width: 150px !important;
}

.w160 {
  width: 160px !important;
}

.w170 {
  width: 170px !important;
}

.w180 {
  width: 180px !important;
}

.w190 {
  width: 190px !important;
}

.w200 {
  width: 200px !important;
}

// IN PERCENTAGE

.w2p {
  width: 2%;
}

.w3p {
  width: 3%;
}

.w4p {
  width: 4%;
}

.w5p {
  width: 5%;
}

.w6p {
  width: 6%;
}

.w7p {
  width: 7%;
}

.w8p {
  width: 8%;
}

.w9p {
  width: 9%;
}

.w10p {
  width: 10% !important;
}

.w11p {
  width: 11%;
}

.w12p {
  width: 12%;
}

.w13p {
  width: 13%;
}

.w14p {
  width: 14%;
}

.w15p {
  width: 15%;
}

.w16p {
  width: 16%;
}

.w17p {
  width: 17%;
}

.w18p {
  width: 18%;
}

.w19p {
  width: 19%;
}

.w20p {
  width: 20% !important;
}

.w22p {
  width: 22% !important;
}

.w25p {
  width: 25% !important;
}

.w30p {
  width: 30% !important;
}

.w40p {
  width: 40% !important;
}

.w50p {
  width: 50% !important;
}

.w60p {
  width: 60% !important;
}

.w70p {
  width: 70% !important;
}

.w80p {
  width: 80% !important;
}

.w90p {
  width: 90% !important;
}

.w100p {
  width: 100% !important;
}

// MARGIN

.nomargin {
  margin: 0 !important;
}

.marginauto {
  margin: 0 auto;
}

.nomarbot {
  margin-bottom: 0 !important;
}

.nomarto {
  margin-top: 0 !important;
}

.nomarleft {
  margin-left: 0 !important;
}

.nomarright {
  margin-right: 0 !important;
}

.ml2 {
  margin-left: 2px !important;
}

.mr2 {
  margin-right: 2px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mt2 {
  margin-top: 2px !important;
}

.mb2 {
  margin-bottom: 2px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.ml7 {
  margin-left: 7px !important;
}

.mr7 {
  margin-right: 7px !important;
}

.mt7 {
  margin-top: 7px !important;
}

.mb7 {
  margin-bottom: 7px !important;
}

.ml8 {
  margin-left: 8px !important;
}

.mr8 {
  margin-right: 8px !important;
}

.mt8 {
  margin-top: 8px !important;
}

.mb8 {
  margin-bottom: 8px !important;
}

.ml9 {
  margin-left: 9px !important;
}

.mr9 {
  margin-right: 9px !important;
}

.mt9 {
  margin-top: 9px !important;
}

.mb9 {
  margin-bottom: 9px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.m0auto {
  margin: 0 auto;
}

//PADDING

.nopadding {
  padding: 0px !important;
}

.nopadleft {
  padding-left: 0 !important;
}

.nopadright {
  padding-right: 0 !important;
}

.nopadto {
  padding-top: 0 !important;
}

.nopadbot {
  padding-bottom: 0 !important;
}

.pl2 {
  padding-left: 2px !important;
}

.pr2 {
  padding-right: 2px !important;
}

.pt2 {
  padding-top: 2px !important;
}

.pb2 {
  padding-bottom: 2px !important;
}

.p2 {
  padding: 2px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.p5 {
  padding: 5px !important;
}

.pl7 {
  padding-left: 7px !important;
}

.pr7 {
  padding-right: 7px !important;
}

.pt7 {
  padding-top: 7px !important;
}

.pb7 {
  padding-bottom: 7px !important;
}

.p7 {
  padding: 7px !important;
}

.pl8 {
  padding-left: 8px !important;
}

.pr8 {
  padding-right: 8px !important;
}

.pt8 {
  padding-top: 8px !important;
}

.pb8 {
  padding-bottom: 8px !important;
}

.p8 {
  padding: 8px !important;
}

.pl9 {
  padding-left: 9px !important;
}

.pr9 {
  padding-right: 9px !important;
}

.pt9 {
  padding-top: 9px !important;
}

.pb9 {
  padding-bottom: 9px !important;
}

.p9 {
  padding: 9px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.p10 {
  padding: 10px !important;
}

.pl15 {
  padding-left: 15px;
}

.pr15 {
  padding-right: 15px;
}

.pt15 {
  padding-top: 15px;
}

.pb15 {
  padding-bottom: 15px;
}

.p15 {
  padding: 15px;
}

.pl20 {
  padding-left: 20px !important;
}

.pr20 {
  margin-right: 20px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.p20 {
  padding: 20px !important;
}

// CENTERING ELEMENT

.d-flex {
  display: flex;
}

.d-flex-gap10 {
  display: flex;
  gap: 10px;
}
.d-flex-gap15 {
  display: flex;
  gap: 15px;
}
.d-flex-gap20 {
  display: flex;
  gap: 20px;
}
.d-flex-gap30 {
  display: flex;
  gap: 30px;
}
.d-flex-gap50 {
  display: flex;
  gap: 30px;
}

.justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.grid-center {
  display: grid;
  place-items: center;
}

// BG COLOR

.primarybgcolor {
  background-color: #c9e5f3 !important;
}

.secondarybgcolor {
  // background-color: ;
}

.warnbgcolor {
  background-color: #f44336 !important;
}

.successbgcolor {
  background-color: #379237 !important;
}

.btnstrokedbgcolor {
  background-color: #3f51b5;
}

.btnflatbgcolor {
  background-color: #fff;
}

// Inputs

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

// Buttons

.btn-primary {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  background-color: #3f51b5;
  color: #fff;
  outline: none;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 3px 12px;
}

.btn-secondary {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  background-color: var(--btn-secondary);
  color: #333;
  outline: none;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 3px 12px;
}

// icons

mat-icon {
  cursor: pointer;
}

.icon-16 {
  font-size: 16px;
  height: 16px !important;
  width: 16px !important;
  margin-right: 5px !important;
}

//Table

.simple-table {
  .main-table {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #d6d6d6;
  }

  table:first-child {
    width: 100%;
    font-size: var(--fnt-medium);
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 0;
    table-layout: fixed;

    .table-header {
      background-color: #c9e5f3;
    }

    th,
    td {
      padding: 4px 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    th {
      background-color: #c9e5f3;
      height: 30px;
      font-size: var(--fnt-regular);
    }

    th:first-child {
      border-top-left-radius: 5px;
    }

    th:last-child {
      border-top-right-radius: 5px;
    }

    td {
      border-bottom: 1px solid #d6d6d6;
      cursor: pointer;
    }

    tr:last-child td {
      border-bottom: 0;
    }

    tbody tr td:first-child {
      border-left: 3px solid transparent;
      padding-left: 12px;
    }

    tr:nth-child(even) td {
      background-color: #f6fcff;
    }

    tbody tr:hover td {
      background-color: #fff3e9 !important;
    }

    tbody tr:hover td:first-child {
      border-left: 3px solid #0f6fde;
    }
  }

  .table-body {
    // border-left: 1px solid #d6d6d6;
    // border-right: 1px solid #d6d6d6;
  }
}
.cur-pointer {
  cursor: pointer;
}

// Angular material styling

.disable-backdrop-click
  .cdk-overlay-backdrop.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  pointer-events: none;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6d6d6;
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
  cursor: pointer;
}
